.top_bar 
  .top_bar__memoring
    MemoRing
  .top_bar__menu
    %a{ href: '', class: 'top_bar__menu--timeline' }
      TimeLine
    %a{ href: '', class: 'top_bar__menu--chat' }
      Chat
    %a{ href: '', class: 'top_bar__menu--diary' }
      Diary
  .top_bar__user
    .top_bar__user--icon
      = image_tag 'hero.jpg', class: 'icon-photo'
    .top_bar__user--name
      = current_user.name
  .menu-trigger
    %span
    %span
    %span