.tweet_index
  .tweet_index__timeline
    .MessageBox
      .message
        .message__info
          .message__info--user
            Masaya
          .message__info--time
            2020/12/25
        .message__content
          %p.Message__content
            こんにちは
    .MessageBox
      .message
        .message__info
          .message__info--user
            Takashi
          .message__info--time
            2020/12/25
        .message__content
          %p.Message__content
            おはよう
        