.tweet_index
  .twitter__container
    .twitter__title
      TimeLine
      = icon('far', 'comment-alt')
      =link_to new_tweet_path do
        ツイートする
        = icon('far', 'edit', class: 'input-box__image')
    .tweet_all  
      = render @tweets