@charset "UTF-8";




$baseColor:   #58aeed; 




.search-form{
  position:relative;
  max-width:270px;
  margin-bottom:15px;
  height: 4vh;
  .search-input{
    position:absolute;
    top:0; 	
    outline:0;
    height:50px;
    padding:0 10px;
    border-radius:2px 0 0 2px;
    background:#eee;
    text-align: center;
  }
  .search-btn{
    width:70px;
    height:50px;
    position:absolute;
    left:168px;
    top:0;
    border-radius:0 2px 2px 0;
    background:#7fbfff;
    border:none; 
    color:#fff;
    font-weight:bold;
    font-size:16px;
  }
  .search-btn:hover{
    color:#666;
  }
}







.twitter__container {
  padding:0;
  background: #ffffff;
  overflow: hidden;
  font-size: 80%;
  border: solid 1px #eeeeee;

  a {
    color: $baseColor;
  }

  
  .twitter__title {
    height: 6vh;
    background: $baseColor;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #ffffff;

    .tweet__direct{
      color: white;
      float: right;
      text-decoration: none;
      border: 1px solid white;
    }

    .input-box__image{
      color: white;

    }

    span {
      font-size: 20px;
    }
  }

  
  .tweet_all{
    height: 80vh;
    overflow: scroll;
    margin-top: 20px;
    .twitter__contents {
      overflow: hidden;
      position: relative;
      line-height: 135%;

      &.scroll {
        height: 500px;
        overflow-y: scroll;
      }

      .twitter__block {
        width: 100%;
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: solid 1px #eeeeee;
        overflow: hidden;

        &:last-child {
          border-bottom: solid 0px;
        }
        figure {
          width: 50px;
          padding: 0;
          margin: 0;
          float: left;
          width: 50px;
          img{
            border-radius: 50%;
            width: 50px;
            height: 50px;
          }
        }
        .twitter__block-text {
          margin: 0;
          position: relative;
          margin-left: 60px;
          padding-right: 10px;

          .name {
            font-weight: bold;
            .top_bar__menu--diary{
              text-decoration: none;
            }
            .name_reply {
              color: #8a9aa4;
              margin-left: 10px;
            }
          }

          .date {
            position: absolute;
            top:0;
            right: 20px;
            text-align:right;
            color: #8a9aa4;
          }

          .text {
            margin: 5px 0;
            .tweet__image{
              height: 300px;
            }
            .in-pict img{
              border-radius: 20px;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              margin: 5px 0;
              width: 95%;
              height: 200px;
              object-fit: cover;
            }
          }

        


        }
        .menu {
          height: 5vh;
          .comment-btn{
            display: flex;
            margin-left:50px;
            .heart{
              color:red
            }
          }
          label{
            width: 80px;
            text-align: center;
            float: right;
            display: block;
            margin: 0 0 4px 0;
            padding : 15px;
            line-height: 1;
            color :#fff;
            background : #58aeed;
            cursor :pointer;
            border-radius: 40px 40px 40px 40px;
          }
          a{
            display: block;
            padding: 15px;
            text-decoration: none;
            color: #000;

          }
          input{
            display: none;
          }
          
          ul{
            float: right;
            margin: 0;
            padding: 0;
            background :#f4f4f4;
            list-style: none;
          }
          li{
            height: 0;
            overflow: hidden;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
          }
          #menu_bar01:checked ~ #links01 li{
            height: 54px;
            opacity: 1;
          }
        }
      }
    }
  }
}
.tweet_all_content{
  width: 500px;
  margin: auto;
}

.comment-text{
  width: 300px;
  height: 50px;
}
.comment-send{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: skyblue;
  border: none;
}
h4{
  font-size: 15px;
  margin-top: 20px;
}
h3{
  font-size: 15px;
}

.good-button{
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #FADBDA;
}
.home{
  margin-top: 40px;
  font-size: 20px;
}

.content{
  .edit-text{
    width: 300px;
    height: 50px;
  }
  .hidden{
    display: none;

  }
  .send{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: lightcoral;
    border: none;
    margin-bottom:30px ;
  }
  h{
  font-size: 15px;
  }
}