* {
  box-sizing: border-box;
}



.top_bar{
  background-color: #253141;
  height:10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  .top_bar__memoring{
    margin-left: 10px;
    color:white;
    font-size: 50px;
    width: 265px;
    font-family: 'Permanent Marker', cursive;
  }
  .top_bar__menu{
    display: flex;
    font-size: 1.25rem;
    color: white;
    .top_bar__menu--timeline{
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      margin: 10px;
    }
    .top_bar__menu--timeline:hover {
      /*ボタンを押したとき*/
      background: #67c5ff;
      color: white;
    }
    

    .top_bar__menu--chat{
      width: 113px;
      text-align: center;
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      margin: 10px;
    }
    .top_bar__menu--chat:hover {
      background: #67c5ff;
      color: white;
    }
    .top_bar__menu--diary{
      width: 113px;
      text-align: center;
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      margin: 10px;
    }
    .top_bar__menu--diary:hover {
      background: #67c5ff;
      color: white;
    }
  }
  .top_bar__user{
    width: 265px;
    display: flex;
    align-items: center;
    .top_bar__user--icon{
      text-align: center;
      .icon-photo{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-position: center;
        border: 2px solid white;
      }
    }
    .top_bar__user--name{
        margin-left: 5px;
        font-size: 40px;
        color:#ffffff;
        
    }
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger:not(.active):hover span:nth-of-type(2) {
    width: 70%;
  }
  .menu-trigger:not(.active):hover span:nth-of-type(3) {
    width: 35%;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(20px) rotate(-45deg);
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-20px) rotate(45deg);
  }



}

.wrapper2{
  display: flex;
}

.side_bar{
  height: 90vh;
  width: 25vw;
  background-color:#008080;
}

.tweet_index{
  height: 90vh;
  width: 75vw;
  border: 1px solid black;
  .tweet_index__timeline{

  }
}

