.AccountPage {
  width: 500px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: space-between;
  background-image: image-url('sparkler-918836_1280.jpg');
  background-size:cover;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.AccountPage:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.AccountPage__title {
  font-size: 14px;
  font-weight: 200;

  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 19px;
    color: white;
    
  }
  h5{
    color: white;
  }

  .Button {
    margin-top: 40px;
    color: #fff;
    background-color: #ccc;
  }
}

.AccountPage__form {
  display: flex;
  justify-content: center;
}

.FormField {
  margin-bottom: 10px;
  color: white;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    width: 300px;
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
h5{
  color: white;
  padding-top: 50px;
}
.button{
  color: white;
  border: 1px solid white;
  height: 50px;
  display: inline-block;
  height: 50px;
  padding: 0 22px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
}

.profile-card{
  width: 100%;
  position: relative;
  background: #fff; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
}


.profile-card__inner{
 position: relative;
}

.profile-thumb{
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #fff;
}

.profile-thumb img{
  display: block;
    width: 100%;
    height: auto;
}

.profile-content{
  padding: 15px;
}

.profile-content span{
  display: block;
}

.profile-name{
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.profile-job{
  margin-bottom: 10px;
  color: #ccc;
  font-size: 10px;
  text-align: center;
}

.profile-intro{
  font-size: 12px;
}

.DM{
  display: flex;
  justify-content: center;
  
}

.mail{
  color:  #38aef0;
  text-decoration: none;
}

.dm{
  text-decoration: none;
  color:  #38aef0;
}


ol {
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
}

ol li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

li{
  display: flex;
  align-items: center;
}

ol li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #38aef0; /*アイコン色*/
}

.check{
  margin-right: 20px;
}



.tweet_day{
  border: 1px solid;
    /* width: 100px; */
    /* width: 87px; */
  text-align: center;
  background-color: lightskyblue;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
  border: none;
}

.Tweet__image{
  height: 300px;
}


.profile-edit{
  display: block;
  border: 1px solid;
  width: 200px;
  margin: 30px auto;
  padding: 10px;
  background-color: skyblue;
  color: white;
  text-decoration: none;
  color: black;
  border: none;
}
.logout{
  display: block;
  border: 1px solid;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  background-color: skyblue;
  color: white;
  text-decoration: none;
  color: black;
  border: none;
}

.guest{
  color: white;
  border: 1px solid white;
  height: 50px;
  display: inline-block;
  height: 50px;
  padding: 0 22px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
}